<Project Sdk="Microsoft.NET.Sdk">

  <!-- DataAccess: veritabanı erişimi. Abstract klasörü sözleşmeleri, Concrete klasörü EF Core uygulamalarını içerir. -->
  <ItemGroup>
    <ProjectReference Include="..\__Name__.Core\__Name__.Core.csproj" />
    <ProjectReference Include="..\__Name__.Entities\__Name__.Entities.csproj" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="__DbPackage__" />
  </ItemGroup>

</Project>
