<Project Sdk="Microsoft.NET.Sdk">

  <!-- Business: iş kuralları. Sunum katmanı yalnızca bu katmanın Abstract klasöründeki servis arayüzlerini kullanır. -->
  <ItemGroup>
    <ProjectReference Include="..\__Name__.Core\__Name__.Core.csproj" />
    <ProjectReference Include="..\__Name__.DataAccess\__Name__.DataAccess.csproj" />
    <ProjectReference Include="..\__Name__.Entities\__Name__.Entities.csproj" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="Autofac.Extras.DynamicProxy" />
    <PackageReference Include="FluentValidation" />
  </ItemGroup>

</Project>
